:root {
  --purple: #672280;
}

body {
  background-color: snow;
}

.navbar,
button {
  background: linear-gradient(135deg, #f3ccbe, #f3f3be, #bef3be, #bef3f3, #bebef3, #e6bef3);
}

button:hover {
  box-shadow: #bebef3 1px 0 10px !important;
}

button:focus {
  border: none;
}

img {
  max-height: 400px;
}

.meme-text {
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}